/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2019, 5:19:01 PM
    Author     : Levani
*/
.filter-and-classifier {
    margin: 20px 0 50px 0;
}
/*classifier*/
.treeview-menu li a {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.treeview-menu li a:hover {
    color: #d24529;
}
/*classifier-end*/

.mod_filter_prices > input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.mod_filter_btn > .btn[type='submit'] {
    color: #fff;
    background-color: #222222;

}


.mod_filter_btn > .btn[type='submit']:hover {
    background-color: #d24529;
}

.filter_render_radio {
    color: #656565;
    font-weight: bold;
}
.filter_render_radio > label {
    font-weight: normal;
}

.filter_render_checkbox {
    font-weight: bold;
    color: #656565;
}

.filter_render_checkbox > label {
    font-weight: normal;
}