/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 15, 2019, 2:56:28 PM
    Author     : Levani
*/
@media only screen and (max-width : 1920px){
    #logo {
        width: 100%;
        text-align: center;
    }
    .mod_card {
        text-align: center;
    }
}

@media only screen and (max-width: 1199px) {
    .shop_product_big_img > img {
        width: 100%;
    }
    .mod_simplemenu .module_title h2::after,
    .mod_forms_footer .module_block .module_title h2::after{
        width: auto;
    }
}
@media only screen and (max-width: 1180px){
    .search-and-lang, .login-and-card {
        width: 25%;
    }

}
@media only screen and (max-width : 1060px) { 
    /*    .logni_btns {
            display: flex;
            flex-direction: column;
        }
    }*/
    @media only screen and (max-width : 991px){
        /*header*/
        .logo-cont {
            justify-content: center;
        }
        .card-holder {
            margin: 0;
        }
        #supermenu {
            float: none;
        }
        
        .wsd_sub2, .wsd_sub3{
            border: none;
        }
        .singlearticle_image a img{
            margin: 0 30px;
        }
        .wsd_havechildren::after, .wsd_subhavechildren::after {
            display: none;
        }

        .wsd_subhavechildren::after {
            transform: rotate(90deg);
        }
        .mod_form_butt .mod_form button {
            right: 20px;
        }
        .footer_top #emailForm {
            width: 100%;
        }
  
    }
    @media only screen and (max-width : 751px){
        .singlearticle_image {
            float: none;
        }
        .singlearticle_image a img{
            margin: 0;
            width: 100%;
        }
    }
    @media only screen and (max-width : 767px){
        .header_top .fb-like {
            display: flex;
            justify-content: center;
            margin-top: 1px;
        }
      
        .wsd_sub2, .wsd_sub3 {
            border: none;
        }
        .header_top .free-content-top{
            margin: 10px 0;
        }
        .login-and-search {
            justify-content: center;
        }
        .lang_switcher_block{
            /*top: 0;*/
            left: 75%;
        }
        .lang_switcher_block::after {
            color: #fff;
        }

        .logo-cont {
            margin-bottom: 10px;
        }
        .login-and-card {
            display: flex;
            /*justify-content: center;*/
        }
        .logni_btns {
            flex-direction: row;
        }
        .mod_popular {
            width: 95%;
            margin: auto;
        }
       
      
    }
    @media only screen and (max-width : 749px){
        .search-and-lang  {
            order: 2;
        }

        .logo-cont {
            order: 1
        }
        .login-and-card {
            order: 3;
        }

    }
    @media only screen and (max-width : 749px){
        .user-menu-holder ul#menu {
            flex-direction: column;
        }
    }
    }
    @media only screen and (max-width : 500px){
        .header_top .container-fluid {
            flex-direction: column;
        }
        .logo-cont {
            width: 100%;
        }
        .search-and-lang{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
        }
        .search_hold {
            margin-left: 0px;
            text-align: center;
            margin-bottom: 10px;
        }
        .search_area {
            left: -50px;
            right: auto;
            background: none;
        }

        .slider {
            margin: 20px 0;
        }
        .social-holder {
            margin-bottom: 10px;
        }
        .login-and-card {
            width: 100%;
            justify-content: center;
        }
        .logni_btns {
            right: auto;
            top: 29px;
        }
        .free-content-bg {
            min-height: 270px;
            padding: 0;
            background-size: cover;
        }
}
    @media only screen and (max-width : 479px) {
        /*global*/
        .module_title h2 {
            font-size: 25px;
        }
        /*header*/
        .search-and-lang {
            display: flex;
            flex-direction: column;
        }
        .search_hold {
            text-align: center;
            margin-bottom: 10px;
        }

        .lang_switcher_block, .logo-cont {
            margin: 0 auto;
            margin-bottom: 10px;
        }
        .image_logo a img {
            max-width: 100%;
        }

        /*menu collapse*/
        .menu_holder {
            position: static;
            margin-top: 0px;
        }

        .mainmenu ul.menu > li.active > a {
            border: none;
        }
        .slider {
            margin-top: 0px;
        }

        /*classifier*/


        /*singlearticle*/
        .single-article {
            margin-bottom: 20px;
        }
        .singlearticle_item_ini  {
            flex-direction: column;
        }
        .singlearticle_item_ini .singlearticle_image {
            margin: 0 0 20px 0;
        }

        /*partners*/
     
        #multi_items_slider {
            flex-direction: column;
        }
        #multi_items_slider > li {
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }

    }
    @media screen and (max-width: 400px){
        .lang_switcher_block {
            left: 5px;
        }
        .logni_btns {
            right: -53px;
        }
        /*footer*/
        .footer_top #emailForm {
            display: block;
        }
        .mod_form_butt .mod_form button {
            position: static;
            transition: .3s ease-in-out!important;
        }
        .mod_form_butt .mod_form button:hover {
            background: #d24529!important;

        }
        .footer_bot .others-holder {
            flex-direction: column;
            text-align: center;
            margin: 0 0 30px;
        }
        .copyright {
            margin: 0;
        }
    }

    @media screen and (max-width: 340px){
        .filter_render_radio, .filter_render_checkbox {
            display: flex;
            flex-direction: column;
        }
    }
    @media screen and (max-width: 300px){
        .module_title h2 {
            font-size: 20px!important;
        }
        .singlearticle_item_ini .singlearticle_image a img {
            width: 270px; 
        }
        
    }
    /*@media screen and (-webkit-min-device-pixel-ratio:0) {
        div.shop_product_lil_img { height: 150px; }
    }
    @media screen and (-moz-min-device-pixel-ratio:0) {
        div.shop_product_lil_img { height: 100%; }
    }*/

