/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 25, 2019, 3:10:38 PM
    Author     : Levani
*/

/*lang-css*/

.lang_switcher_block {
    background: #ff084e;
    position:absolute;
    top: 0;
    /*right: 30px;*/
    left: 30px;
    width: 30px;
    overflow: hidden;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    padding: 0px 15px 0px 10px;
    display: table;
    z-index: 9997;
    border: 1px solid #d24529;
}

.lang_switcher_block:after {
    content:"\e114";
    display: block;
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 4px;
    top: 8px;
    font-size: 8px;
    color: #fff;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

}

.lang_switcher_block a  {
    height: 0px;
    overflow: hidden;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin: 0;
    width: auto;
    display: block;
    text-align: center;
}

.lang_switcher_block a span {
    font-size: 14px;
    color: #fff;
    margin: 0px;
    padding: 5px 0px;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;

}

.lang_switcher_block a.activelang  {
    height: 24px;
}
.lang_switcher_block a.activelang span {
    color: #fff;
}



/*hovers*/
.lang_switcher_block a span:hover {
    /*color: #d24529;*/
}

.lang_switcher_block a.activelang span:hover {
    /*color: #d24529;*/
}

/*lang-css-end*/