#footer {
    border-top: 2px solid #e5e5e5;
}


#footer a {
    font-weight: normal;
}




.developed {
    float: left;
}

.developed a {
    font-family: 'BPGBannerCapsRegular';
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}



.copyright {
    display: block;
    margin-top: 30px;
    line-height: 1.5;
}

.map_button {
    margin-top: 167px;
    margin-right: 40px;
    display: inline-block;
    float: right;
}




.footer_top {
   padding: 100px 0 30px 0;
}

.footer_top .mod_contact_footer, .footer_top .socials {
    padding-left: 40px;
    
}

.footer_top .mod_forms_footer {
    padding-left: 40px;
}

.footer_top .module_title {
    text-align: left;
    padding-bottom: 0px;
}

.footer_top .module_title h2 {
    color: #000;
    text-align: left;
    font-size: 15px;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer_top .contact_infos {
    margin-bottom: 25px;
}

.footer_top .contact_infos > div {
    font-size: 13px;
    color: #555555;
    line-height: 1.8;
}

.footer_top .contact_infos > div a {
    font-size: 13px;
    color: #555555;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.footer_top .contact_infos > div a:hover {
    color: #e65540;
}

.footer_top  .site_social a {
    font-size: 18px;
    color: #888;
    -webkit-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    margin: 0px 6px;
}

.footer_top  .site_social {
    margin-left: -12px;
}

.footer_top  .site_social a:hover {
    color: #e65540 !important;
}




