/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2019, 11:27:27 AM
    Author     : Levani
*/
.card_item .card_item_delete:hover {
    opacity: .6;
}
.card_items_total_reg .btn[type="submit"] {
    color: #fff;
    background-color: #1990c6;
}

.card_items_total_reg .btn[type="submit"]:hover {
    opacity: .6;
}

/*#card_icon_total {
    position: relative;
}

#card_total {
    position: absolute;
    top: -5px;
    left: 10px;
}*/
