/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2019, 5:19:01 PM
    Author     : Levani
*/
.filter-and-classifier {
    margin-bottom: 50px;
}

.mod_filter_prices > input {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.mod_filter_btn > .btn[type='submit'] {
    color: #fff;
    background-color: rgba(0,0,0, .7);

}


.mod_filter_btn > .btn[type='submit']:hover {
    opacity: .6;
}

.filter_render_radio {
    color: #656565;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}
.filter_render_radio > label {
    font-weight: normal;
}

.filter_render_checkbox {
    font-weight: bold;
    color: #656565;
    display: flex;
    flex-direction: column;
}

.filter_render_checkbox > label {
    font-weight: normal;
}