/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Sep 27, 2016, 4:25:45 PM
    Author     : Daiki
*/

@media only screen and (min-width : 300px) {

}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* ============= MAX-Width =============== */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    .shop_product_big_img > img {
        width: 100%;
    }
    .menu_holder {
        width: 80%;
    }
    .classifier_description_holder {
        padding: 20px 5px 10px;
    }
    .mainmenu ul.menu > li > a {
        font-size: 14px;
        margin: 0px 6px;
    }
    .mod_image .image_link {
        height: 380px;
    }
    .mod_image .image_link:nth-child(2n-2) {
        height: 270px;
    }
    .mod_image .image_link:nth-child(5) {
        margin-top: -112px;
    }
    .page_body_products .catalog_item_priceold, .page_body_products .catalog_item_price {
        font-size: 14px;
    }
    .page_body_products .item_basket a {
        font-size: 14px;
        padding: 10px 20px 6px;
    }
    .mod_image2 .image_link {
        height: 340px;
    }
    .mod_image2 .image_link_name {
        font-size: 36px;
    }
    .mod_photo .photo_image_hover:hover .mod_photo_title {
        top: 15px;
        left: 15px;
    }
    .mod_photo .photo_image_hover:hover .mod_photo_date {
        bottom: 15px;
    }
    .menu_holder {
        width: 100%;
        margin-left: 0px;
        transform: none;
    }
    
    #footer {
        margin-top: 25px;
    }

}

@media only screen and (max-width : 1070px){
    .card-and-login {
        justify-content: center;

    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {

    /*header*/

    #card_icon_total {
        text-align: center;
    }
    .treeview-menu li a {
        font-size: 15px;
    }
    
    .slider_desc {
        display: none;
    }
    
    .catalog_item {
        width: 33.333%;
    }
    
    .sright_top {
        top: 0;
    }

    .slider_title {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .singlearticle_image {
        width: 45%;
    }

    .card-holder::before {
        left: -6px;
    }

    /*slider*/
    .gw_slide.actiuris::after {
        -webkit-transform:skewY(0deg);
        -moz-transform: skewY(0deg);
        transform:skewY(0deg);
        height: 100vh;
    }

    /*slider*/

    .footer_top .mod_forms_footer {
        padding-right: 0px;
    }

    .footer_top .module_title {
        margin-bottom: 15px;
    }
    .footer_top .socials {
        margin-bottom: 30px;
        text-align: center;
    }


    .footer_top #emailForm {
        width: 50%;
        margin: auto;
    }

    .footer_top .mod_form {
        text-align: center;
    }
    .menu_holder {
        margin-top: 13px;
    }

    .top_contacts {
        margin-top: 40px;
    }
    .article-content .article_title h3 {
        font-size: 20px;
    }
    .article-content .page_image {
        width: 40%;
    }
    .search-and-lang {
        display: flex;
        /*flex-direction: column;*/
        /*text-align: center;*/
    }

    /*header*/
    .navbar-toggle:hover {
        background-color: transparent;
    }

    .wsd_sub2, .wsd_sub3{
        border: none;
    }
    .wsd_havechildren::after, .wsd_subhavechildren::after {
        display: none;
    }

    .wsd_subhavechildren::after {
        transform: rotate(90deg);
    }
    /*mousemove section*/
    .parallax-section {
        padding: 20px;
    }
    .mousover-div {
        background-size: 100% 100% !important;
        padding: 0px 0 100px 0;
    }
    .singlearticle_all_readmore {
        position: static;
    }
    /*mod_image*/
    .image-holder .image_link {
        width: 50%;
    }
    .image-holder-two .image_links_in .image_link_name {
        width: 100%;
    }
    /*mod_image-end*/

    /*mod_shop_category*/
    .mod_specific .catalog_item_in .classifier_item_img {
        width: auto;
    }
    .mod_specific .catalog_item_in .classifier_description_holder {
        float: none;
        margin: 0;
    }
    .slider_title {
       font-size: 16px; 
    }
    /*footer*/
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    /*header*/
    .logo_cont {
        text-align: center;
    }
    .header {
        padding-bottom: 25px;
    }

    #footer {
        margin-top: 0px;
    }
    
    .slider_text_in, .slider_arrow_id {
        display: none;
    }
    
    .header_contact, .header_socs {
        display: flex;
        justify-content: center;
    }

    .catalog_item {
        width: 50%;
    }

    .search_cart_login_inner {
        justify-content: center;
    }

    /*header*/

    /*slider*/

    .next_slide, .prev_slide {
        opacity: 1;
    }
    .next_slide {
        right: 20px;
    }
    .prev_slide {
        left: 20px;
    }
    .slider_title {
        margin-bottom: 15px;
    }

    .sright_top {
        right: 0!important;
        max-width: 40%!important;

    }

    /*slider*/

    /*content*/
    .mod_specific .module_block {
        margin: 0;
    }
    .article-content .page_image {
        width: 100%;
    }

    .mod_specific .catalog_item_in .classifier_item_img {
        float: none;
    }

    .mod_specific .catalog_item_in .classifier_item_img img {
        width: 100%;
    }


    /*footer*/
    .footer_top .module_title, .mod_contact_footer {
        text-align: center;

    }

    .footer_bot_container_in {
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer_top > div,   .footer_top .module_title h2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .footer_socs {
        margin: 10px 0;
        justify-content: center;
    }

}

@media only screen and (max-width : 749px){
    .user-menu-holder ul#menu {
        flex-direction: column;
    }
}



@media only screen and (max-width: 550px){
    /*content*/
    .single_holder .module_title {
        margin: 0;
        padding: 0;
    }

    .singlearticle_image {
        margin: 0;
        margin-bottom: 10px;
        width: 100%;
        float: none;
    }

    .singlearticle_image img {
        width: 100%;
    }
    /*content*/

    /*footer*/
    .footer_bot_container_in {
        padding: 0;
        flex-direction: column;
    }

}


/* Custom Devices */
@media only screen and (max-width : 500px) {
    /*header*/
    .header_contact, .header_socs {
        width: 100%;
    }

    /*header*/

    /*slider*/
    .slider_text_in {
        display: none;
    }

    .gw_slide.actiuris::after {
        display: none;
    }

    .slider_arrow {
        display: none;
    }

    .controlNavCon {
        bottom: 10px;
    }

    /*slider*/
    .footer_top .mod_simplemenu .module_block, .footer_top #emailForm {
        width: 100%;
    }

    .footer_top {
        margin-bottom: 0px;
    }
    .header_bot .container-fluid {
        justify-content: flex-end;
        width: 100%;
        flex-wrap: wrap;
    }


    .top_contacts .contact_infos > div {
        margin-bottom: 10px;
        font-size: 14px;
    }

    .top_contacts .contact_infos {
        margin-bottom: 20px;
    }

    #contact_name, #contact_email, #contact_subject, .captchainput, #contact_telephone, #contact_text {
        font-size: 14px;
    }

    .item_form {
        flex-direction: column;
    }

    .item_form .item_label {
        margin-bottom: 10px;
    }

    .item_form {
        padding-bottom: 0px;
    }

    #emailForm {
        margin-bottom: 50px;
    }
    .top_wallpaper .module_block {
        font-size: 26px;
    }
    .mod_login, .mod_card {
        z-index: 9994;
    }
    .page_body_login {
        margin-top: 50px;
    }
    .page_title {
        font-size: 26px;
    }
    a.registration_btn {
        margin-bottom: 10px;
    }
    .article-content .article_title h3 {
        font-size: 18px;
    }
    .category .item_title h3 a {
        font-size: 14px;
    }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px) {
    /*global*/
    .module_title h2 {
        font-size: 25px;
    }
    /*header*/
    .search-and-lang {
        display: flex;
        flex-direction: column;
    }
    .search_hold {
        text-align: center;
        margin-bottom: 10px;
    }

    .catalog_item {
        width: 100%;
    }

    .image_logo a img {
        max-width: 100%;
    }

    /*menu collapse*/
    .menu_holder {
        position: static;
        margin-top: 0px;
    }

    .mainmenu ul.menu > li.active > a {
        border: none;
    }
    .slider {
        margin-top: 0px;
    }

    /*classifier*/


    /*singlearticle*/
    .single-article {
        margin-bottom: 20px;
    }
    .singlearticle_item_ini  {
        flex-direction: column;
    }
    .singlearticle_item_ini .singlearticle_image {
        margin: 0 0 20px 0;
    }

    /*partners*/

    #multi_items_slider {
        flex-direction: column;
    }
    #multi_items_slider > li {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }
}


@media screen and (max-width: 400px){
    /*header*/

    /*multicategory*/
    .nav-tabs {
        flex-direction: column;
        margin: 20px;
    }
    .nav-tabs > li {
        text-align: center;
    }
    /*footer*/
    .footer_top #emailForm {
        display: block;
    }


    .footer_bot .others-holder {
        flex-direction: column;
        text-align: center;
    }

}
@media only screen and (max-width : 368px){
    .bg {
        padding: 50% 0;
    }
}




@media screen and (max-width: 340px){
    .filter_render_radio, .filter_render_checkbox {
        display: flex;
        flex-direction: column;
    }
    /*footer*/
    /*footer*/
    .footer_top > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer_top > div .module_title h2 {
        text-align: center;
    }
    .footer_bot {
        display: flex;
        text-align: center;
    }
    .copyright, .developed {
        float: none;
    }
    .mod_contact_footer .contact_infos > div {
        display: flex;
        flex-direction: column;
    }
    .mod_contact_footer .contact_infos > div span {
        margin: auto;
    }
}



@media screen and (max-width: 300px){
    /*header*/
    .module_title h2 {
        font-size: 20px!important;
    }

    /*cart-page*/
    .card_item .glyphicon.glyphicon-remove {
        top: 50%;
    }

    /*bg*/
    .bg {
        min-height: 270px;
        background-size: cover!important;
        padding: 40% 0;
    }

    /*blog*/
    .blog-holder {
        padding: 20px 0;
    }
    .blog_item_at {
        width: 100%;
    }
    .blog_item_t {
        width: 100%;
    }

}



/* .col-xs-$	Extra Small	Phones Less than 768px
.col-sm-$	Small Devices	Tablets 768px and Up
.col-md-$	Medium Devices	Desktops 992px and Up
.col-lg-$	Large Devices	Large Desktops 1200px and Up*/